<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Editar Empleado</h1>
    <form th:object="${empleado}" th:method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}">
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}">
        </div>
        <div class="mb-3">
            <label for="cargo" class="form-label">Cargo</label>
            <input type="text" class="form-control" id="cargo" name="cargo" th:field="*{cargo}">
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="usuario" class="form-label">Usuario</label>-->
<!--            <select class="form-control" id="usuario" name="usuario" th:field="*{entity.usuario}">-->
<!--                <option value="">Seleccionar usuario</option>-->
<!--                &lt;!&ndash; Aquí puedes agregar opciones para seleccionar un usuario &ndash;&gt;-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="empresa" class="form-label">Empresa</label>-->
<!--            <select class="form-control" id="empresa" name="empresa" th:field="*{entity.empresa}">-->
<!--                <option value="">Seleccionar empresa</option>-->
<!--                &lt;!&ndash; Aquí puedes agregar opciones para seleccionar una empresa &ndash;&gt;-->
<!--            </select>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>