<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layoutConSidebar}">
<head>
    <title>Reparaciones</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="navbar">
    <div th:replace="fragments/navbar :: navbar"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div layout:fragment="sidebar">
                <!-- Aquí está la barra lateral -->
                <div class="sidebar">
                    <h2>Sidebar</h2>
                    <p>Contenido de la barra lateral</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div layout:fragment="contenido">
                <h1>Reparaciones</h1>
                <a th:href="@{/reparaciones/new}" class="btn btn-primary mb-2">Añadir reparación</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Empleado</th>
                        <th>Duración</th>
                        <th>Tipo Reparación</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de finalización</th>
                        <th>Acciones</th> <!-- Nueva columna para las acciones -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reparacion : ${entities}">
                        <td th:text="${reparacion.id}"></td>
                        <td th:text="${reparacion.descripcion}"></td>
                        <td th:text="${reparacion.empleado.nombre}"></td>
                        <td th:text="${reparacion.duracion}"></td>
                        <td th:text="${reparacion.tipoReparacion.nombre}"></td>
                        <td th:text="${reparacion.fechaDeInicio}"></td>
                        <td th:text="${reparacion.fechaDeFin}"></td>
                        <td>
                            <a th:href="@{/reparaciones/{id}(id=${reparacion.id})}" class="btn btn-primary">Editar</a>
                            <a th:href="@{/reparaciones/{id}/delete(id=${reparacion.id})}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
