<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Crear reparación</h1>
    <form th:object="${reparacion}" th:action="@{/reparaciones/create}" method="POST" th:method="POST">
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}">
        </div>
        <div class="form-group mb-3">
            <label for="empleadoId">Empleado:</label>
            <select class="form-control" id="empleadoId" name="empleadoId">
                <option value="">Seleccionar empleado</option>
                <th:block th:each="empleado : ${empleados}">
                    <option th:value="${empleado.id}" th:text="${empleado.nombre} + ' ' + ${empleado.apellido}"></option>
                </th:block>
            </select>
        </div>
        <div class="mb-3">
            <label for="duracion" class="form-label">Duración</label>
            <input type="text" class="form-control" id="duracion" name="duracion" th:field="*{duracion}">
        </div>
        <div class="mb-3 d-flex gap-2">
            <div class="mb-3">
                <label for="fechaDeInicio" class="form-label">Fecha de Inicio</label>
                <input type="date" class="form-control" id="fechaDeInicio" name="fechaDeInicio" th:field="*{fechaDeInicio}">
            </div>
            <div class="mb-3">
                <label for="fechaDeFin" class="form-label">Fecha de Finalización</label>
                <input type="date" class="form-control" id="fechaDeFin" name="fechaDeFin" th:field="*{fechaDeFin}">
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="tipoReparacionId">Tipo de reparación:</label>
            <select class="form-control" id="tipoReparacionId" name="tipoReparacionId">
                <option value="">Seleccionar tipo de reparación</option>
                <th:block th:each="tipoReparacion : ${tiposReparaciones}">
                    <option th:value="${tipoReparacion.id}" th:text="${tipoReparacion.nombre}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="clienteId">Cliente:</label>
            <select class="form-control" id="clienteId" name="clienteId">
                <option value="">Seleccionar cliente</option>
                <th:block th:each="cliente : ${clientes}">
                    <option th:value="${cliente.id}" th:text="${cliente.nombre} + ' ' + ${cliente.apellido}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="cocheId">Coche:</label>
            <select class="form-control" id="cocheId" name="cocheId">
                <option value="">Seleccionar coche</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/reparaciones/all}" class="btn btn-danger">Cancelar</a>
    </form>
</div>
// JS
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#clienteId').on('change', function() {
            var clienteId = $(this).val();
            if (clienteId) {
                obtenerCoches(clienteId);
            } else {
                $('#cocheId').html('<option value="">Selecciona primero un cliente</option>');
            }
        });
    });
    function obtenerCoches(clienteId) {
        $.ajax({
            url: '/reparaciones/coches/cliente/' + clienteId,
            success: function(data) {
                $('#cocheId').html('');
                $.each(data, function(index, coche) {
                    var marca = coche.marca.nombre;
                    var modelo = coche.modelo.nombre;
                    var anio = coche.anio;
                    $('#cocheId').append('<option value="' + coche.id + '">' + marca + ' ' + modelo + ' ' + anio + '</option>');
                });
            }
        });
    }
</script>
</body>
</html>