<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edición de roles</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Editar Rol</h1>
    <form th:action="@{/roles/{id}(id=${id})}" method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="name" th:field="*{entity.name}">
        </div>
        <div class="mb-3">
            <label for="idRol" class="form-label">Id</label>
            <input type="text" class="form-control" id="idRol" name="id" th:field="*{entity.id}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/roles/all}" class="btn btn-secondary">Cancelar</a>
    </form>


</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>