<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Crear Rol</h1>
    <form th:object="${rol}" th:action="@{/roles/create}" method="POST" th:method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{name}">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/roles/all}" class="btn btn-danger">Cancelar</a>
    </form>

</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>