<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{titulo.cliente.detalle}"></title>
</head>
<body>
<div layout:fragment="content">
    <h1>Editar Cliente</h1>
    <form th:object="${entity}" th:action="@{/clientes/saveConCoche}" th:method="POST">
        <input type="hidden" th:field="*{id}" th:attr="name='id'"/>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}">
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}">
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Marca</label>
            <input type="text" class="form-control" id="apellido" name="marca">
        </div>


        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>