<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        // se ejecuta cuando el html esté listo
        $(document).ready(function() {
            // está pendiente de cambios en el elemento con el id "marca"
            $('#marca').on('change', function() {
                // recuperamos el elemento con el id marcaId
                var marcaId = $(this).val();
                if (marcaId) {
                    $.ajax({
                        url: '/coches/modelos', // hacemos petición al controlador
                        data: {
                            'marcaId': marcaId
                        },
                        success: function(data) { // select vacío
                            $('#modelo').html('');
                            $.each(data, function(index, modelo) {
                                $('#modelo').append('<option value="' + modelo.id + '">' + modelo.nombre + '</option>');
                            });
                        }
                    });
                } else {
                    $('#modelo').html('<option value="">Selecciona primero una marca</option>');
                }
            });
        });
    </script>
</head>
<body>
<div class="container">
    <h1>Añadir coche</h1>
    <form th:object="${coche}" th:action="@{/coches/create}" method="post">
        <div class="mb-3">
            <label>Marca:</label>
            <label for="marca"></label><select class="form-select" id="marca" th:field="*{marca.id}">
                <option value="">Selecciona una marca</option>
                <option th:each="marca : ${marcas}" th:value="${marca.id}" th:text="${marca.nombre}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label>Modelo:</label>
            <label for="modelo"></label><select class="form-select" id="modelo" th:field="*{modelo.id}">
                <option value="">Selecciona primero una marca</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Combustible:</label><br>
            <label>
                <select class="form-select" th:field="*{combustible}">
                    <option th:each="combustible : ${combustibles}" th:value="${combustible.id}" th:text="${combustible.nombre}"></option>
                </select>
            </label>
        </div>
        <div class="mb-3">
            <label for="anio" class="form-label">Año:</label>
            <select class="form-select h-25 w-25" id="anio" name="anio" th:field="*{anio}">
                <option value="">Selecciona un año</option>
                <script>
                    var fechaActual = new Date().getFullYear();
                    var fechaInicial = 1971; // establecer el año de inicio xDD

                    for (var i = fechaActual; i >= fechaInicial; i--) {
                        document.write('<option value="' + i + '">' + i + '</option>');
                    }
                </script>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/coches/all}" class="btn btn-danger">Cancelar</a>
    </form>
</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
