<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Taller 720</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
          <a class="nav-link" th:href="@{/empresas/all}">Empresas</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
          <a class="nav-link" th:href="@{/usuarios/all}">Usuarios</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
          <a class="nav-link" th:href="@{/empleados/all}">Empleados</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
          <a class="nav-link" th:href="@{/roles/all}">Roles</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_USUARIO')">
          <a class="nav-link" th:href="@{/roles/all}">Reparaciones</a>
        </li>
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <form th:action="@{/login}" method="post">
            <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>
          </form>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" method="post">
            <div><input class="btn btn-primary" type="submit" value="Sign out"/></div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>