<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="/images/logo.png" alt="Logo" class="logo-img"/>
    <a class="navbar-brand" href="/">Taller 720</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
            <a  class="nav-link" th:href="@{/calendario}"> Calendario</a>
        </li>
<!--        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--          <a class="nav-link" th:href="@{/reparaciones/all}">Reparaciones</a>-->
<!--        </li>-->
        <li class="nav-item" sec:authorize="hasRole('ROLE_USUARIO')">
          <a class="nav-link" th:href="@{/roles/all}">Reparaciones</a>
        </li>
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a th:href="@{/login}">
            <div><span class="btn btn-primary" type="submit" value="Sign In">Sign In</span></div>
          </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a th:href="@{/usuarios/logout}">
            <div><span class="btn btn-primary" type="submit" value="Sign out">Sign out</span></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>