<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Taller 720</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<main class="container-fluid">
    <div th:fragment="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Clientes -->
            <li class="nav-item">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        <i class="bi bi-people-fill"></i>Clientes
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a class="bi bi-people-fill nav-link" th:href="@{/clientes/all}">Ver Clientes</a>
                            </li>
                            <li>
                                <a class="bi bi-people-fill nav-link" th:href="@{/clientes/new}">Crear Clientes</a>
                            </li>
                            <li>
                                <a class="bi bi-people-fill nav-link" th:href="@{/clientes/all}">Ver clientes y Coches</a>
                            </li>
                            <li>
                                <a class="bi bi-people-fill nav-link" th:href="@{/clientes/asignar-coche}">Asignar coche a Cliente</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <li class="nav-item">
                <!-- Opciones de Reparacion -->
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse0" aria-expanded="false">
                        <i class="bi bi-gear-fill"></i>Reparacion
                    </button>
                    <div class="collapse" id="dashboard-collapse0">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a class="bi bi-gear-fill nav-link" th:href="@{/reparaciones/all}">Ver Reparaciones</a>
                            </li>
                            <li>
                                <a class="bi bi-gear-fill nav-link" th:href="@{/reparaciones/new}">Crear Reparaciones</a>
                            </li>
                            <li>
                                <a class="bi bi-gear-fill nav-link" th:href="@{/reparaciones/tipos/all}">Ver tipos de reparacion</a>
                            </li>
                            <li>
                                <a class="bi bi-gear-fill nav-link" th:href="@{/reparaciones/tipos/new}">Crear un tipo de reparacion</a>
                            </li>
                        </ul>
                    </div>
                </li>
           </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <!-- Opciones de Usuarios -->
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse1" aria-expanded="false">
                        <i class="bi bi-people"></i>Usuarios
                    </button>
                    <div class="collapse" id="dashboard-collapse1">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a class="bi bi-people nav-link" th:href="@{/usuarios/all}"> Ver usuarios</a>
                            </li>
                            <li>
                                <a class="bi bi-people nav-link" th:href="@{/usuarios/new}">Crear usuario</a>
                            </li>
                            <li>
                                <a class="bi bi-people nav-link" th:href="@{/roles/all}">Ver roles de usuario</a>
                            </li>
                            <li>
                                <a class="bi bi-people nav-link" th:href="@{/roles/new}">Crear un rol de usuario</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">


            <li class="nav-item">
                <!-- Opciones de Coches -->
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse2" aria-expanded="false">
                        <i class="bi bi-car-front"></i>Coches
                    </button>
                    <div class="collapse" id="dashboard-collapse2">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <a class="bi bi-car-front-fill nav-link" th:href="@{/coches/all}">Ver Coches</a>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <a class="bi bi-car-front-fill nav-link" th:href="@{/coches/new}">Añadir Coches</a>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <a class="bi bi-fuel-pump nav-link" th:href="@{/combustibles/all}">Ver Combustible</a>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <a class="bi bi-fuel-pump nav-link" th:href="@{/combustibles/new}">Añadir Combustible</a>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <a class="bi bi-car-front nav-link" th:href="@{/marcas/all}">Ver Marcas</a>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <a class="bi bi-car-front nav-link" th:href="@{/marcas/new}">Añadir Marca</a>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <a class="bi bi-card-list nav-link" th:href="@{/modelos/all}">Ver Modelos</a>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <a class="bi bi-card-list nav-link" th:href="@{/modelos/new}">Añadir Modelos</a>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">


            <li class="nav-item">
                <!-- Opciones de Empleados -->
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse3" aria-expanded="false">
                    <i class="bi bi-person-fill-gear"></i>Empleados
                </button>
                <div class="collapse" id="dashboard-collapse3">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <a class="bi bi-person-fill-gear nav-link" th:href="@{/empleados/all}">Ver Empleados</a>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <a class="bi bi-person-fill-gear nav-link" th:href="@{/empleados/new}">Añadir Empleados</a>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">


            <li class="nav-item">
                <!-- Opciones de Empresas -->
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse4" aria-expanded="false">
                    <i class="bi bi-building"></i>Empresas
                </button>
                <div class="collapse" id="dashboard-collapse4">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <a class="bi bi-building nav-link" th:href="@{/empresas/all}">Ver Empresas</a>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <a class="bi bi-building nav-link" th:href="@{/empresas/new}">Añadir Empresa</a>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
    </div>

</main>
</body>
</html>
