<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Todas las entidades</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/paginacion.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
<div class="container">
    <h1>Tipo de Reparaciones</h1>
    <a th:href="@{/reparaciones/tipos/new}" class="btn btn-primary mb-2">Añadir Tipo de Reparación</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th> <!-- Nueva columna para las acciones -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="tiporeparacion : ${entities}">
            <td th:text="${tiporeparacion.id}"></td>
            <td th:text="${tiporeparacion.nombre}"></td>
            <td>
                <a th:href="@{/reparaciones/tipos/{id}(id=${tiporeparacion.id})}" class="btn btn-primary">Editar</a>
                <a th:href="@{/reparaciones/tipos/{id}/delete(id=${tiporeparacion.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Mostrar la paginación -->
    <div class="paginacion">
        <ul class="pagination">
            <li th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                <a th:attr="href=@{/tipoReparaciones/all(page=__${currentPage - 1}__,size=__${size}__)}">&laquo;</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${pageNumber == currentPage ? 'active' : ''}">
                <a th:attr="href=@{/tipoReparaciones/all(page=__${pageNumber}__,size=__${size}__)}"
                   th:text="${pageNumber + 1}"></a>
            </li>
            <li th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                <a th:attr="href=@{/tipoReparaciones/all(page=__${currentPage + 1}__,size=__${size}__)}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
