<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layoutConSidebar}">
<head>
    <title>Todas las entidades</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="navbar">
    <div th:replace="fragments/navbar :: navbar"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div layout:fragment="sidebar">
                <!-- Aquí está la barra lateral -->
                <div class="sidebar">
                    <h2>Sidebar</h2>
                    <p>Contenido de la barra lateral</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div layout:fragment="contenido">
                <h1>Modelos</h1>
                <a th:href="@{/modelos/new}" class="btn btn-primary mb-2">Añadir modelo</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="modelo : ${entities}">
                        <td th:text="${modelo.id}"></td>
                        <td th:text="${modelo.nombre}"></td>
                        <td th:text="${modelo.marca.nombre}"></td>
                        <td>
                            <a th:href="@{/modelos/{id}(id=${modelo.id})}" class="btn btn-primary">Editar</a>
                            <a th:href="@{/modelos/{id}/delete(id=${modelo.id})}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


