<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{titulo.index}"></title>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 th:text="${year + ' - ' +  month}"></h1>
        <table class="table table-striped">
            <tbody>
            <tr th:each="semana : ${mesCompleto}">
                <td th:each="dia : ${semana}">
                    <span th:if="!${dia.diaNulo}" th:text="${dia.fecha}"></span>
                    <ul>
                        <li th:each="evento: ${dia.eventos}">
                            <span th:text="${evento.nombre}"></span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{?month=${month}(month=${month+1})}"> Siguente mes</a>
        <a class="btn btn-primary" th:href="@{?month=${month}(month=${month-1})}"> Mes anterior</a>
    </div>
</div>
</body>
</html>